<footer>
  <div class="footer-links">
    <ul>
      <li><a href="/">Accueil</a></li>
      <li><a href="/catalogue">Catalogue</a></li>
      <li><a href="/en-savoir-plus">En savoir plus</a></li>
      <li><a href="/contact">Contactez-nous</a></li>
    </ul>
  </div>
    <div class="footer-content">

      <p>&copy; 2025 OCoffee. Tous droits réservés.</p>
      <p>Fait avec le <span class="heart">❤️</span> par des passionnés de café.</p>
    </div>
  </footer>
  
  <script src="/javascript/main.js"></script>

  <% if(url.includes('/produit')) { %>
    <script src="/javascript/produit.js">
      
    </script>
  <% } %>

</body>
</html>