<%- include('./partials/header') %>
<body>
    <main class="page-404">
        <h2>404</h2>
        <p class="para-produit">Oups ! Cette page n'existe pas...</p>
        <img src="/images/sad-coffee.jpg" alt="Tasses de café triste">
        <a href="/" class="btn btn-beige btn-catalogue">Retour à l'accueil</a>
    </main>
<%- include('./partials/footer') %>